body {
	background: black;

}
#semua {
	background: black;
	height: 100%;
	position: fixed;
	width: 20%;
	top: 0;
	left: 0;
}
#konten {
	position: relative;
	margin-left: 20%;

}
.kontenhome{
	padding: 0;
	background-image: url(wall.jpg);
	height: 700px;
}
.aboutme{
	padding: 0;
	background: #ADD8E6;
	height: 200px;
}
.abilities{
	background: #00B3E6;
	height: 200px;
}
.services{
	background: #0080B3;
	height: 300px;
}
.kritik {
	height: 200px;
	background: #004D80;
}
.footer {
	background: white;
	height: 150px;
}
.logo {
	text-align: center;
	padding: 20px;

}
.logo h1{
	font-family: futura bk bt;
	font-weight: bold;
	color: white;
}
.logo h4{
	font-family: futura bk bt;
	color: white;
	letter-spacing: 20px;
}
.menu {
	height: 260px;
}
.menu li{
	padding: 15px 0;
	border-bottom: 1px solid #7E7D7D;
}
.menu ul{
	padding: 20px;
}
.menu a{
	color: white;
	text-decoration: none;
}
.menu a: hover {
	color: red;
}
.akhir{
	height: 200px;  
}
.akhir p{
	text-align: center;
	padding-top: 150px;
	color: white;
}
.kontenhome img{
	padding-top: 200px;
	width: 15%;
}
.kontenhome p{
	text-align: center;
	color: white;
	font-family: futura bk bt;
	letter-spacing: 5px;
}
.services li{
	padding: 20px;
}
.services ul{
	padding-right: 20px;
}
.footer img{
	width: 5%;
	padding: 30px;
	padding-top: 50px;
}
.kritik table{
	padding-top: 40px;
}
.kritik p{
	padding-top: 10px;
}