@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');


body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

span{
	opacity: 0;
	transition: all 1s ease;
	transform: translateY(50px);
}
span.fade{
	opacity: 1;
	transform: translateY(0px);
}

*{
	box-sizing: border-box;
	margin: 0;
	scroll-behavior: smooth;
}

.container {
	max-width: 1140px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

header {
	position: absolute;
	left: 0px;
	right: 0px;
	border-bottom: 1px solid #423940;
	padding: 0px 15px;
	z-index: 10;
}
header.fixed{
	background-color: #ffffff;
	position: fixed;
	border-color: #eeeeee;
}
header.fixed .brand-name a{
	color: #000000;
}
header.fixed .navbar ul li a{
	color: #000000;
}
header.fixed .navbar ul li a::before{
	background-color: #febd01;
}
header .row{
	justify-content: space-between;
	align-items: center;
}
header .brand-name a{
	text-decoration: none;
	font-size: 22px;
	font-weight: 600;
	color: #ffffff;
	text-transform: uppercase;
	position: relative;
}
header .brand-name a::before{
	content: '';
	height: 3px;
	background-color: #ffffff;
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
header .navbar ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
header .navbar ul li{
	display: inline-block;
	margin-left: 35px;
}
header .navbar ul li a{
	font-size: 15px;
	text-decoration: none;
	line-height: 72px;
	color: #ffffff;
	display: block;
	font-weight: 600;
	position: relative;
}

header .navbar ul li a::before{
	content: '';
	height: 3px;
	background-color: #ffffff;
	width: 0;
	position: absolute;
	right: 0px;
	bottom: -1px;
	transition: all .5s ease;
}
header .navbar ul li a:hover:before{
	width: 100%;
	left: 0;
}
header .navbar ul li a.active::before{
	width: 100%;
	left: 0;
}
.home {
	min-height: 100vh;
	background-image: url(gmd.jpg);
	background-size: cover;
	background-position: center;
	padding: 15px; 
}

.home .full-screen{
	min-height: 100vh;
}

.home .home-content{
	flex: 0 0 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.home .home-content .block{
	flex: 0 0 75%;
	max-width: 75%;
	padding-left: 35px;
	border-left: 5px solid #ffffff;
	margin-top: 50px;
}
.home .home-content .block h6{
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	margin: 0;
	padding: 0;
}
.home .home-content .block h1{
	color: #ffffff;
	font-size: 70px;
	font-weight: 600;
	margin: 0;
	padding: 0;
}
.home .home-content .block h3{
	color: #ffffff;
	font-size: 25px;
	font-weight: 600;
	margin: 0 0 10px;
	padding: 0;
}
.home .home-content .block .cv-btn{
	padding-top: 20px;
}
.home .home-content .block .cv-btn a{
	border-radius: 4px;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 12px 25px;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	transition: all .5s ease;
	background-color: transparent;
}
.home .home-content .block .cv-btn a:hover{
	background-color: #ffffff;
	color: #000000;
}


.about-me {
	padding: 100px 15px;
	background-color: #ffffff;
}

.about-me .section-title{
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 40px;
}

.about-me .section-title h1{
	display: inline-block;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 700px;
	color: #000000;
	margin: 0 0 10px;
	position: relative;
}

.about-me .section-title h1::before{
	content: '';
	left: 0;
	position: absolute;
	height: 2px;
	right: 30%;
	background-color: #febd01;
	bottom: 0px;
}

.text-uppercase{
	text-transform: uppercase!important;
}

.about-me .section-title p.small{
	display: block;
	font-size: 14px;
	color: #838383;
	font-weight: 400;
	letter-spacing: 2px;
}

.about-me .about-content{
	
}

.about-me .about-content .img{
	flex: 0 0 33.33%;
	max-width: 33.33%;
}
.about-me .about-content .img img{
	width: 100%;
	display: block;
}
.about-me .about-content .text{
	flex: 0 0 66.66%;
	max-width: 66.66%;
	padding-left: 30px;
}

.about-me .about-content .text h4{
	font-size: 25px;
	font-weight: 600;
	margin: 0 0 5px;
	color: #000000;
}
.about-me .about-content .text h6{
	font-size: 25px;
	font-weight: 400;
	margin: 0 0 5px;
	color: #000000;
}
.about-me .about-content .text h6 span{
	color: #febd01;
}

.about-me .about-content .text p{
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: #838383;
	margin: 0 0 20px;
}
.about-me .about-content .text .info{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.about-me .about-content .text .info .list{
	flex: 0 0 calc(50% - 15px);
	max-width: calc(50% - 15px);
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #dee2e6;
	padding-bottom: 10px;
}
.about-me .about-content .text .info .list label{
	padding-right: 10px;
	color: #000000;
	font-weight: 600;
	font-size: 15px;
}
.about-me .about-content .text .info .list p{
	margin: 0;
}





.skills{
	padding: 100px 15px;
	background-color: #F5FFFA;
}
.skills .skills-content{
	flex: 0 0 50%;
	max-width: 50%;
	padding-right: 40px;
}
.skills .img{
	flex: 0 0 50%;
	max-width: 50%;
	padding-right: 30px;
}
.skills .img img{
	width: 100%;
	display: block;
}
.align-items-center{
	align-items: center;
}

.skills .skills-content .section-title p{
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: #838383;
	margin: 15px 0 20px;

}

.skills .section-title h1{
	display: inline-block;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 700px;
	color: #000000;
	margin: 0 0 10px;
	position: relative;
}

.skills .section-title h1::before{
	content: '';
	left: 0;
	position: absolute;
	height: 2px;
	right: 30%;
	background-color: #febd01;
	bottom: 0px;
}

.skills .skills-content .skill-box{
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 30px;
}

.skills .skills-content .skill-box h6{
	font-size: 16px;
	font-weight: 500;
	color: #000000;
	margin: 0 0 8px;
}

.skills .skills-content .skill-box .skill-bar{
	height: 5px;
	background-color: #eeeeee;
	position: relative;
}

.skills .skills-content .skill-box .skill-bar .skill-bar-in{
	background-color: #febd01;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}
.skills .skills-content .skill-box .skill-bar .skill-bar-in span{
	color: #838383;
	font-size: 16px;
	font-weight: 400;
	position: absolute;
	right: 0;
	top: -30px;
}


.edu {
	padding: 100px 15px;
	background-color: #ffffff;
}

.edu .section-title{
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 40px;
}

.edu .section-title h1{
	display: inline-block;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 700px;
	color: #000000;
	margin: 0 0 10px;
	position: relative;
}

.edu .section-title h1::before{
	content: '';
	left: 0;
	position: absolute;
	height: 2px;
	right: 30%;
	background-color: #febd01;
	bottom: 0px;
}

.text-uppercase{
	text-transform: uppercase!important;
}

.edu .section-title p.small{
	display: block;
	font-size: 14px;
	color: #838383;
	font-weight: 400;
	letter-spacing: 2px;
}

.edu .about-content{
	
}

.edu .about-content .img{
	flex: 0 0 33.33%;
	max-width: 33.33%;
}
.edu .about-content .img img{
	width: 100%;
	display: block;
}
.edu .about-content .text{
	flex: 0 0 66.66%;
	max-width: 66.66%;
	padding-left: 30px;
}

.edu .about-content .text h4{
	font-size: 25px;
	font-weight: 600;
	margin: 0 0 5px;
	color: #000000;
}
.edu .about-content .text h6{
	font-size: 25px;
	font-weight: 400;
	margin: 0 0 5px;
	color: #000000;
}
.edu .about-content .text h6 span{
	color: #febd01;
}

.edu .about-content .text p{
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	color: #838383;
	margin: 0 0 20px;
}
.edu .about-content .text .info{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.edu .about-content .text .info .list{
	flex: 0 0 calc(50% - 15px);
	max-width: calc(50% - 15px);
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #dee2e6;
	padding-bottom: 10px;
}
.edu .about-content .text .info .list label{
	padding-right: 10px;
	color: #000000;
	font-weight: 600;
	font-size: 30px;
}
.edu .about-content .text .info .list p{
	margin: 0;
}




.contact-us{
	padding: 100px 0px;
	background-color: #f5f8fd;
}
.contact-us .section-title h1:before{
	left: 30%;
}
.contact-us .section-title{
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 40px;
}

.contact-us .section-title h1{
	display: inline-block;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 700px;
	color: #000000;
	margin: 0 0 10px;
	position: relative;
}

.contact-us .section-title h1::before{
	content: '';
	left: 0;
	position: absolute;
	height: 2px;
	right: 30%;
	background-color: #febd01;
	bottom: 0px;
}
.contact-us .contact-form{
	background-color: #ffffff;
	flex: 0 0 100%;
	max-width: 100%;
	padding: 40px;
	border: 1px solid #eeeeee;
}
.contact-us .contact-form .text{
	flex: 0 0 100%;
	max-width: 100%;
	padding-bottom: 20px;
}
.contact-us .contact-form .text h2{
	font-size: 26px;
	font-weight: 600;
	color: #000000;
	margin: 0;
	padding: 0;
}
.contact-us .contact-form .text p{
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: #838383;
	margin: 0px;
}
.contact-us .contact-form .space-between{
	justify-content: space-between;
}
.contact-us .contact-form .col-6{
	flex: 0 0 calc(50% - 15px);
	max-width: calc(50% - 15px);
}
.contact-us .contact-form .col-12{
	flex: 0 0 100%;
	max-width: 100%;
}
.contact-us .contact-form .form-control{
	height: 45px;
	width: 100%;
	margin-bottom: 15px;
	border: 1px solid #ced4da;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}
.contact-us .contact-form textarea.form-control{
	height: 140px;
}
.contact-us .contact-form .form-control::placeholder{
	color: #838383;
}

.contact-us .contact-form .btn{
	border-radius: 4px;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 12px 25px;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	transition: all .5s ease;
	background-color: #febd01;
}
.contact-us .contact-form .btn:hover{
	background-color: #000000;
	color: #ffffff;
}

.game{
	padding: 100px 0px;
	background-color: #ffffff;
}
.game .section-title h1:before{
	left: 30%;
}
.game .section-title{
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 40px;
}

.game .section-title h1{
	display: inline-block;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 700px;
	color: #000000;
	margin: 0 0 10px;
	position: relative;
}

.game .section-title h1::before{
	content: '';
	left: 0;
	position: absolute;
	height: 2px;
	right: 30%;
	background-color: #febd01;
	bottom: 0px;
}
.game .game-form{
	background-color: #ffffff;
	flex: 0 0 100%;
	max-width: 100%;
	padding: 40px;
	border: 1px solid #eeeeee;
}
.game .game-form .text{
	flex: 0 0 100%;
	max-width: 100%;
	padding-bottom: 20px;
}
.game .game-form .text h2{
	font-size: 26px;
	font-weight: 600;
	color: #000000;
	margin: 0;
	padding: 0;
}
.game .game-form .text p{
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: #838383;
	margin: 0px;
}
.game .game-form .space-between{
	justify-content: space-between;
}
.game .fame-form .col-6{
	flex: 0 0 calc(50% - 15px);
	max-width: calc(50% - 15px);
}
.game .game-form .col-12{
	flex: 0 0 100%;
	max-width: 100%;
}
.game .game-form .form-control{
	height: 45px;
	width: 100%;
	margin-bottom: 15px;
	border: 1px solid #ced4da;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}
.game .game-form textarea.form-control{
	height: 140px;
}
.game .game-form .form-control::placeholder{
	color: #838383;
}

.game .game-form .tekan a{
	border-radius: 4px;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 12px 25px;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	transition: all .5s ease;
	background-color: #febd01;
}
.game .game-form .tekan a:hover{
	background-color: #000000;
	color: #ffffff;
}
.game .game-form .kumpul{
	border-radius: 4px;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 12px 25px;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	transition: all .5s ease;
	background-color: #febd01;
}
.game .game-form .kumpul:hover{
	background-color: #000000;
	color: #ffffff;
}

.footer {
	font-size: 20px;
	padding: 20px;
	background-color: black;
	color: white;
	height: 200px;
}

.footer h1{
	color: white;
}

.footer .footer-logo {
	float: left;
}

.footer-sosmed {
	float: right;
}

.footer-text {
	padding-top: 120px;
	text-align: center;
}

.footer-time{
	float: right;
	padding-bottom: 30px;
}

.footer-time{
	font-size: 15px;
}
